:root {
    --main-color: black;
    --primary-color: white; 
    --red-color: red;
}

* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    background: var(--primary-color);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
    position: fixed;
    display: flex;
    font-weight: bold;
    top: 5px;
    right: 5px;
    padding: 2px 4px;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
    border: 1px solid var(--main-color);
    color: var(--red-color);
    background: var(--primary-color);
} 

.input,.result {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.btn {
    display: flex;
    padding-left: 0;
} .chat {
    width: 100%;
    height: 100%;
}

input,textarea,button {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    background: var(--primary-color);
} input {
    margin-bottom: 8px;
} button {
    font-weight: bold;
    border: 2px solid var(--main-color);
    cursor: pointer;
} #dec {
    font-weight: normal;
    border: 1px solid var(--main-color);
} button:hover {
    opacity: 0.6;
}